<footer class="main-footer">
  <ul class="social">
    <li>
      <a href="https://www.instagram.com/" uk-icon="instagram"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li>
      <a href="https://www.facebook.com/" uk-icon="facebook"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
    <li>
      <a href="https://twitter.com/" uk-icon="twitter"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </li>
  </ul>
  <ul class="team">
    <li class="fontH">Fausto Moché</li>
    <li class="fontH">Kevin Douglas Reid</li>
    <li class="fontH">Thiago Grimberg</li>
  </ul>
</footer>
