<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="center main-content">
        <h1>Nuevo Post</h1>
        <form action="/users/myProfile">
          <div class="editProfile">
            <div class="editAllInputs">
              <input class="editInput" type="file" name="pfp" id="pfp" />
            </div>
          </div>
          <button class="submit" type="submit">Subir</button>
        </form>
      </section>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
