<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="center main-content">
        <h1>Login</h1>
        <form action="/" method="POST">
          <div class="editProfile">
            <div class="editAllLabels">
              <label class="editLabel">Username:</label>
              <label class="editLabel">Password:</label>
            </div>
            <div class="editAllInputs">
              <input
                class="editInput"
                type="text"
                name="username"
                id="username"
              />
              <input
                class="editInput"
                type="text"
                name="password"
                id="password"
              />
            </div>
          </div>
          <div class="stuff">
            <div class="remember">
              <input type="checkbox" name="remember" id="remember" />
              <label class="editLabel">Remember me</label>
            </div>
            <button type="submit">Log in</button>
          </div>
        </form>
      </section>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
