<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="center main-content">
        <h1>Registro</h1>
        <form  class="formRe" action="/register" method="POST">
          <div >
            <label for="foto">Introduzca su foto de perfil:</label>
            <input class="imgperfil" type="file" name="foto" id="pfp" placeholder="Introduzca su foto de perfil"/>
          </div>
          <div>
              <label for="firstName">Nombre:</label>
              <input type="texto" name="firstName"  placeholder="Introduzca su nombre">
          </div>
          <div>
              <label for="lastName">Apellido:</label>
              <input type="texto" name="lastName"  placeholder="Introduzca su apellido">
          </div>
          <div>
            <label for="username">Username:</label>
            <input type="texto" name="username"  placeholder="Introduzca su apellido">
        </div>
          <div>
              <label for="password">Contraseña:</label>
              <input type="password" name="password" placeholder="Introduzca su contraseña">
          </div>
          <div>
              <label for="email">Email:</label>
              <input type="email" name="email"  placeholder="Introduzca su email">
          </div>
          <div>
            <label for="fecha">Fecha de nacimiento:</label>
            <input type="date" name="date">
          </div>
          <div>
            <label for="dni">DNI:</label>
            <input type="number" name="dni"  placeholder="DNI">

          <button type="submit">Registrar</button>
      </section>
    </main>
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
