<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="center main-content">
        <h1 class="noResults">No se han encontrado resultados de búsqueda.</h1>
      </section>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
